<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/css/grid.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/homepage.css">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <nav>
                <div class="row">
                    <a href="https://www.nasa.gov/" target="_blank">
                        <img src="nasa-logo-web-rgb.png" alt="photo not found" class="logo">
                    </a>
                    <ul class="main_nav">
                        <li> <a href="https://www.spaceappschallenge.org/" target="_blank">Visit Space Apps</a></li>
                        <li> <a href="http://treasuremap.space/" target="_blank">Visit Space Map</a></li>
                    </ul>
                </div>
            </nav>

            <div class="header_text_content">
                    <h1>"Black holes are where<br>God divided by zero."</h1>
                    <a href="https://en.wikipedia.org/wiki/Stephen_Hawking" target="_blank" class="btn btn_quoter">-Stephen Hawking</a> 
            </div> 
        </header>

        <section class="first_section">
            <div class="row">
                <h2>About the Page</h2>
                <p class="section_description_text">The mission of this web-site is to create an online gateway between pupils, students and professors to exchange ideas, discuss interesting topics and help each other in scientific matters</p>
            </div>

            <div class="row">
                <div class="col span-1-of-3 box">
                    <h3>Ask Questions</h3>
                    <p>You are always free to ask questions on the board where experienced people will help you understand the topic better.</p>
                </div>

                <div class="col span-1-of-3 box">
                    <h3>Get News</h3>
                    <p>Get the latest news about NASA's discoveries and experiments.</p>
                </div>

                <div class="col span-1-of-3 box">
                    <h3>Use Resources</h3>
                    <p>You can always use resource materials provided on the page from NASA</p>
                </div>
            </div>

            <div class="row">
                <div class="col span-1-of-3 box">
                    <a href="https://www.quora.com/" target="_blank">
                    <img src="https://images.theconversation.com/files/3771/original/NASA2.jpg?ixlib=rb-1.1.0&rect=208%2C94%2C526%2C453&q=45&auto=format&w=926&fit=clip"   alt="" class="position">
                    </a>
                </div>
           
                <div class="col span-1-of-3 box">
                    <a href="https://www.nasa.gov/mission_pages/station/research/experiments_category" target="_blank">
                    <img src="https://www.nasa.gov/sites/default/files/thumbnails/image/ksc-20190716-ph_jbs01_0014orig_0.jpg" alt="img of SG" class="position">
                    </a>
                </div>
                
                <div class="col span-1-of-3 box">
                    <a href="https://www.nasa.gov/centers/hq/library/find/databases/" target="_blank">
                    <img src="https://technology.nasa.gov/t2media/tops/img/GSC-TOPS-92/goddard_servers2.jpg" alt="img of SF" class="position">
                    </a>
                </div>
        </section>
        
        <section class="challenges">
            <div class="row">
                <h2>Take On Challenges</h2>
                <p>In today's world, the number of problems is evergrowing with a high speed, so in order to solve them we will have to take on different challenges. One of the examples is Space Apps Challenge, where anyone from anywhere can come up with an idea to solve the given problem. It is up to you to take care of the world around you.</p>
            </div>
        </section>

        <section class="topics">
            <div class="row">
                <h2>Today's interesting topic</h2>
                <p>Today's interesting topic is a <a href="https://en.wikipedia.org/wiki/Black_hole" class="link-to-topic" target="_blank">Black Hole.</a> A black hole is a region of spacetime where gravity is so strong that nothing—no particles or even electromagnetic radiation such as light—can escape from it. The theory of general relativity predicts that a sufficiently compact mass can deform spacetime to form a black hole. This <a href="https://www.youtube.com/watch?v=e-P5IFTqB98" class="link-to-topic" target="_blank">video</a> explains the very basics of black holes using interesting and neat animations. After watching the video, why not take on the quiz?</p>
            </div>
        </section>

    </body>
</html>