<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <title>Net.Dev</title>
    <meta name="keywords" content="HTML5 Bootstrap 3 Admin Template UI Theme" />
    <meta name="description" content="NetDev - A Responsive HTML5 Registration Form">
    <meta name="author" content="Tsotne Margvelashvili">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!-- Font CSS (Via CDN) -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>
  
    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="/register/dashboard/assets/skin/default_skin/css/theme.css">
  
    <!-- Admin Forms CSS -->
    <link rel="stylesheet" type="text/css" href="/register/dashboard/assets/admin-tools/admin-forms/css/admin-forms.css">
  
    <!-- Custom CSS -->
    <link href="/register/infopage/css/theme.css" rel="stylesheet">

    <!-- spinner CSS -->
    <link href="/main/resources/css/spinner.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/main/resources/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/main/resources/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/main/resources/favicons/favicon-16x16.png">
    <link rel="manifest" href="/main/resources/favicons/site.webmanifest">
    <link rel="mask-icon" href="/main/resources/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
     <![endif]-->
  </head>
  
  <body class="external-page external-alt sb-l-c sb-r-c">

      <!-- Start: Main -->
      <div id="main" class="animated fadeIn">
    
        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper">
    
          <!-- Begin: Content -->
          <section id="content">
    
            <a href="/" id="return-arrow">
                <i class="fa fa-arrow-left fa-3x text-warning"></i>
                <span>უკან <br> დაბრუნება</span>
              </a>

            <div class="admin-form theme-warning mw1000" style="margin-top: 3%;" id="register">
    
              <!-- Registration Logo -->
              <div class="row table-layout">
                <a href="/" title="Return to Dashboard">
                  <img src="/register/infopage/img/logo.png" title="NetDev Logo" class="center-block img-responsive" style="max-width: 275px;">
                </a>
              </div>
    
              <!-- Registration Panel/Form -->
              <div id="content" class="animated fadeIn">
                <div class="panel mt20">
                  <div class="tab-block mb25">
                      <div class="tab-content">
                        <div id="tab15_1" class="tab-pane active">
                              <div class="panel-body bg-light p25 pb15">
                                <!-- Divider -->
                                <div class="section-divider mv30">
                                  <span> რეგისტრაციის ფორმა</span>
                                </div>
                                <form method="post" action="/" id="form-register1">
                                  <label for="names" class="field-label">სახელი სრულად</label>
                                  <div class="section row">
                                    <div class="col-md-6">
                                      <label for="firstname" class="field prepend-icon">
                                        <input type="text" name="firstname" id="firstname" class="gui-input" placeholder="მიუთითეთ სახელი" required>
                                        <label for="firstname" class="field-icon">
                                          <i class="fa fa-user"></i>
                                        </label>
                                      </label>
                                    </div>
                                    <!-- end section -->
            
                                    <div class="col-md-6">
                                      <label for="lastname" class="field prepend-icon">
                                        <input type="text" name="lastname" id="lastname" class="gui-input" placeholder="მიუთითეთ გვარი" required>
                                        <label for="lastname" class="field-icon">
                                          <i class="fa fa-user"></i>
                                        </label>
                                      </label>
                                    </div>
                                    <!-- end section -->
            
                                  </div>
                                  <!-- end section row section -->

                                  <label for="birthday" class="field-label">დაბადების თარიღი</label>
                                  <div class="section row">
                                    <div class="col-md-4">
                                      <label for="month" class="field select">
                                        <select id="month" name="month" required>
                                          <option value="">თვე</option>
                                          <option value="01">იანვარი</option>
                                          <option value="02">თებერვალი</option>
                                          <option value="03">მარტი</option>
                                          <option value="04">აპრილი</option>
                                          <option value="05">მაისი</option>
                                          <option value="06">ივნისი</option>
                                          <option value="07">ივლისი</option>
                                          <option value="08">აგვისტო</option>
                                          <option value="09">სექტემბერი</option>
                                          <option value="10">ოქტომბერი</option>
                                          <option value="11">ნოემბერი</option>
                                          <option value="12">დეკემბერი</option>
                                        </select>
                                        <i class="arrow double"></i>
                                      </label>
                                    </div>
                                    <!-- end section -->
            
                                    <div class="col-md-4">
                                      <label for="day" class="field">
                                        <input type="text" name="day" id="day" class="gui-input" placeholder="რიცხვი" required>
                                      </label>
                                    </div>
                                    <!-- end section -->
            
                                    <div class="col-md-4">
                                      <label for="year" class="field">
                                        <input type="text" name="year" id="year" class="gui-input" placeholder="წელი" required>
                                      </label>
                                    </div>
                                    <!-- end section -->
            
                                  </div>
                                  <!-- end .section row section -->
            
                                  <div class="section">
                                    <label for="gender" class="field-label">სქესი</label>
                                    <label class="field select">
                                      <select id="gender" name="gender" required>
                                        <option value="">სქესი</option>
                                        <option value="male">მამრობითი</option>
                                        <option value="female">მდედრობითი</option>
                                        <option value="other">სხვა</option>
                                      </select>
                                      <i class="arrow double"></i>
                                    </label>
                                  </div>
                                  <!-- end section -->

                                  <div class="section">
                                    <label for="course" class="field-label">კურსი</label>
                                    <label class="field select">
                                      <select id="course" name="course" required>
                                        <option value="">აირჩიე კურსი</option>
                                        <option value="Beginer">Beginer</option>
                                        <option value="Junior">Junior</option>
                                        <option value="Middle">Middle</option>
                                        <option value="Senior">Senior</option>
                                      </select>
                                      <i class="arrow double"></i>
                                    </label>
                                  </div>
                                  <!-- end section -->

                                  <div class="section">
                                    <label for="courseType" class="field-label">დასწრების ტიპი</label>
                                    <label class="field select">
                                      <select id="courseType" name="courseType" required>
                                        <option value="">დასწრების ტიპი</option>
                                        <option value="P2P">პირისპირ</option>
                                        <option value="online">ონლაინ</option>
                                      </select>
                                      <i class="arrow double"></i>
                                    </label>
                                  </div>
                                  <!-- end section -->
            
                                  <div class="section">
                                    <label for="email" class="field-label">ელ.ფოსტა</label>
                                    <label for="email" class="field prepend-icon">
                                      <input type="email" name="email" id="email" class="gui-input" placeholder="example@domain.com..." required>
                                      <label for="email" class="field-icon">
                                        <i class="fa fa-envelope"></i>
                                      </label>
                                    </label>
                                  </div>
                                  <!-- end section -->
            
                                  <div class="section">
                                    <label for="mobile" class="field-label">მობილური ნომერი</label>
                                    <label for="mobile" class="field prepend-icon">
                                      <input type="tel" name="mobile" id="mobile" class="gui-input" placeholder="599123456" required>
                                      <label for="mobile" class="field-icon">
                                        <i class="fa fa-phone-square"></i>
                                      </label>
                                    </label>
                                  </div>
                                  <!-- end section -->
            
                                  <div class="section">
                                    <label for="verify" class="field-label">Prove you're not a robot</label>
                                    <div class="smart-widget sm-left sml-80">
                                      <label for="verify" class="field prepend-icon">
                                        <input type="text" name="verify" id="verify" class="gui-input" placeholder="Enter captcha" required>
                                        <label for="verify" class="field-icon">
                                          <i class="fa fa-shield"></i>
                                        </label>
                                      </label>
                                      <label for="verify" id="verifyCaption" class="button" style="width: 90px;"><%= x %> + <%= y %></label>
                                    </div>
                                    <!-- end .smart-widget section -->
                                  </div>
                                  <!-- end section -->
                                  <div id="loader" class="loader">Loading...</div>
                                  <div class="panel-footer clearfix">
                                      <button onclick="userRegister()" class="button btn-warning mr10 pull-right">რეგისტრაცია</button>
                                      
                                      <label class="option mt10">
                                        <a href="#TermsOfUse" class="theme-link" data-toggle="modal"> დამატებითი ინფორმაცია. </a>
                                      </label>
                                  </div>
                              </form>
                                
                              </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
    
              <!--  Divider -->
              <hr class="alt mt40 mb30 mh70">    
            </div>
    
          </section>
          <!-- End: Content -->
    
        </section>
        <!-- End: Content-Wrapper -->
    
      </div>
      <!-- End: Main -->
    
    <!-- Terms of use Modal GE -->
    <div class="portfolio-modal modal fade" id="TermsOfUse" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body" style="text-align: left;">
                                  <!-- Project Details Go Here -->
                                  <h2 style="text-align: center;"><small>რეგისტრაციის შემდგომ</small></h2><br>
                                  <p style="text-align: justify;">
<h3><strong>წარმატებული რეგისტრაციის შემდეგ</strong></h3> 
დამადასტურებელ შეტყობინებას თქვენს მიერ მითითებულ მაილზე მიიღებთ. მოცემულ შეტყობინებაში მითითებული იქნება მსმენელთან გასაუბრების თარიღი და დრო.
ასევე შეტყობინებას sms სახითაც მიიღებთ.
<h3><strong>გასაუბრება</strong></h3>
<ol>
<li>I კურსის - Beginer Web Dveloper-ის შემთხვევაში მსმენენლს არანაირი წინასწარი ცოდნა არ მოეთხოვება.</li>
<li>II კურსის - Junior Web Developer-ის შემთხვევაში გასაუბრება იქნება ზეპირი მაგრამ მსმენელს მოეთხოვება JavaScript-ის საფუძვლიანი ცოდნა.</li>
<li>III კურსის - Middle Web Developer-ის შემთხვევაში მსმენელი ელექტრინულ ფორმატში ტესტის ჩაბარება მოუწევს. მოცემულ კურსში მსმენელს მოეთხოვება 
    JavaScript-ის საფუძვლიანი და nodejs-ის საბაზისო ცოდნა</li>
<li>IV კურსის - Senior Web Developer-ის შემთხვევაში მსმენელი ელექტრინულ ფორმატში ტესტის ჩაბარება მოუწევს. მოცემულ კურსში მსმენელს მოეთხოვება 
    JavaScript-ის და nodejs-ის საფუძვლიანი ცოდნა.</li>
</ol>
                                  </p>
                                  <ul class="list-inline">
                                      <li>თარიღი: აგვისტო 2020</li>
                                      <li>NetDev სასწავლო აკადემია</li>
                                  </ul>
                                  <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-times"></i> დახურვა</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>


<!-- BEGIN: PAGE SCRIPTS -->
    
      <!-- jQuery -->
      <script src="/register/dashboard/vendor/jquery/jquery-1.11.1.min.js"></script>
      <script src="/register/dashboard/vendor/jquery/jquery_ui/jquery-ui.min.js"></script>

      <!-- PNotify -->
      <script src="/register/dashboard/vendor/plugins/pnotify/pnotify.js"></script>
      <!-- jQuery Validate Plugin-->
      <script src="/register/dashboard/assets/admin-tools/admin-forms/js/jquery.validate.min.js"></script>

      <script src="/register/dashboard/assets/admin-tools/admin-forms/js/jquery-ui-datepicker.min.js"></script>
      <!-- Theme Javascript -->
      <script src="/register/dashboard/assets/js/utility/utility.js"></script>
      <script src="/register/dashboard/assets/js/demo/demo.js"></script>
      <script src="/register/dashboard/assets/js/main.js"></script>
    
      <!-- Page Javascript -->
      <script type="text/javascript">
      jQuery(document).ready(function() {
    
        "use strict";
    
        // Init Theme Core      
        Core.init();
    
        // Init Demo JS
        Demo.init();

        $('#birthday').datepicker({
            numberOfMonths: 3,
            showOn: 'both',
            buttonText: '<i class="fa fa-calendar-o"></i>',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>',
            beforeShow: function(input, inst) {
                var newclass = 'admin-form';
                var themeClass = $(this).parents('.admin-form').attr('class');
                var smartpikr = inst.dpDiv.parent();
                if (!smartpikr.hasClass(themeClass)) {
                inst.dpDiv.wrap('<div class="' + themeClass + '"></div>');
                }
            }
        });

        var screenSize = $( window ).width();
        if(screenSize < 400){
          $('#return-arrow').find('span').css({'display':'none'});
        }else{
          $('#return-arrow').find('span').css({'display':'block'});
        }
        
      });

       /* Notification Block start */
    var Stacks = {
      stack_top_right: {
        "dir1": "down",
        "dir2": "left",
        "push": "top",
        "spacing1": 10,
        "spacing2": 10
      },
      stack_bar_top: {
        "dir1": "down",
        "dir2": "right",
        "push": "top",
        "spacing1": 0,
        "spacing2": 0
      },
      stack_bar_bottom: {
          "dir1": "up", 
          "dir2": "right", 
          "spacing1": 0, 
          "spacing2": 0
        },
      stack_context: {
        "dir1": "down",
        "dir2": "left",
        "context": $("#stack-context")
      }
    }

    // PNotify Plugin Event Init
    showNotification = (status, title, text) => {
        var noteStyle = status; //danger
        var noteShadow = true;
        var noteOpacity; //'0.75'
        var noteStack = 'stack_bar_bottom';
        var width = "290px";

        // If notification stack or opacity is not defined set a default
        var noteStack = noteStack ? noteStack : "stack_bar_bottom";
        var noteOpacity = noteOpacity ? noteOpacity : "1";

            // We modify the width option if the selected stack is a fullwidth style
            function findWidth() {
                if (noteStack == "stack_bar_top") {
                return "100%";
                }
                if (noteStack == "stack_bar_bottom") {
                return "70%";
                } else {
                return "290px";
                }
            }

            // Create new Notification
            new PNotify({
                title: title,
                text: text,
                shadow: noteShadow,
                opacity: noteOpacity,
                addclass: noteStack,
                type: noteStyle,
                stack: Stacks[noteStack],
                width: findWidth(),
                hide: true
            });

        }
      /* Notification Block End */

      //normal user register function
      var userRegister = async () => {
        $("#form-register1").validate({
          errorClass: "state-error",
          validClass: "state-success",
          errorElement: "em",
          rules: {
            mobile: {
              required: true,
              digits: true
            },
            year: {
              required: true,
              digits: true
            },
            day: {
              required: true,
              digits: true
            }
          },
          messages: {
            day: {
              required: 'Enter day',
              digits: "Please enter only numbers"
            }, 
            year: {
              required: 'Enter Year',
              digits: "Please enter only numbers"
            },  
            mobile: {
              required: 'Enter Mobile',
              digits: "Please enter only numbers"
            }
          },
          highlight: function(element, errorClass, validClass) {
            $(element).closest('.field').addClass(errorClass).removeClass(validClass);
          },
          unhighlight: function(element, errorClass, validClass) {
            $(element).closest('.field').removeClass(errorClass).addClass(validClass);
          },
          errorPlacement: function(error, element) {
            if (element.is(":radio") || element.is(":checkbox")) {
              element.closest('.option-group').after(error);
            } else {
              error.insertAfter(element.parent());
            }
          }
        });

        if($("#form-register1").valid()){
          var formData = {};
            //$.postJSON( "/account/stockDrone", formData );
            var data = await JSON.stringify( $('#form-register1').serializeArray().map(function(item) {
                if ( formData[item.name] ) {
                    if ( typeof(formData[item.name]) === "string" ) {
                        formData[item.name] = [formData[item.name]];
                    }
                    formData[item.name].push(item.value);
                } else {
                    formData[item.name] = item.value;
                }
            })); //  <-----------
            
            console.log('click');
            document.querySelector('#loader').style.display = 'block';
            $.ajax({
                type: "POST",
                url: '/register',
                data: {"formData" : JSON.stringify(formData)},
                cache: false,
                success: function(result){
                  console.log('response');
                  if(result.info == 'redirect'){
                      window.location.replace(result.url);
                    }else{
                      //$("#form-survey1")[0].reset();
                      for (const element of result.info) {
                        document.querySelector('#verifyCaption').textContent = result.x + ' + ' + result.y;
                        document.querySelector('#loader').style.display = 'none';
                        showNotification('danger', 'Error' , element.msg); 
                      } 
                    }
                }
            });
        }

      }
      </script>
    
      <!-- END: PAGE SCRIPTS -->
    </body>
</html>