<!DOCTYPE html>
<html>
    <head>
        <title>NASA for the youth</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <section>
            <div id="hole">
                <canvas id="particle"></canvas>
            </div>
        </section>

        <audio id="blackHoleSounds" src="/audio/background.mp3" controls autoplay loop></audio>

        <div class="container-signup">
            <form id="form-signup" class="form">
                <h2>Register With Us</h2>
                <div class="form-control">
                    <label for="username">Username</label>
                    <input type="text" name="" id="username-signup" placeholder="Enter Username">
                    <small>Error Message</small>
                </div>
                <div class="form-control">
                    <label for="email">Email</label>
                    <input type="text" name="" id="email-signup" placeholder="Enter Email">
                    <small>Error Message</small>
                </div>
                <div class="form-control">
                    <label for="password">Password</label>
                    <input type="password" name="" id="password-signup" placeholder="Enter Password">
                    <small>Error Message</small>
                </div>
                <div class="form-control">
                    <label for="password2">Confirm Password</label>
                    <input type="password" name="" id="password2-signup" placeholder="Enter password again">
                    <small>Error Message</small>
                </div>
                <button type="submit" id="btn-signup">Sign Up</button>
                <button type="menu" id="btn-swap-toLog">Log In</button>
            </form>
        </div>

        <script src="/js/styleFunction.js"></script>
    </body>
</html>